$color-black: #000;
$color-white: #fff;

.navbar{
    margin-bottom: 0px !important;
}
.portada-cont{
    max-height: 400px;
    object-fit: contain;
}
.portada{
    width: 100%;

}
.section{
    text-align: center;
    padding: 10px 20px;
}
.contact-section{
    width: 50% !important;
    margin: 20px auto;
}
.store-cont{
    display: grid;
    grid-template-columns: 50% 50%;
}
.store-cont article {
    margin: 20px 0px;
}
.footer{
    height: 80px;
    color: $color-white;
    background-color: $color-black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-aboutus{
    height: 80px;
    color: $color-white;
    background-color: $color-black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

@media screen and (max-width: 620px) {
    .contact-section{
        width: 100% !important;
    }
  }
  @media screen and (max-width: 575px) {
    .store-cont{
        display: grid;
        grid-template-columns: 100%;
    }
  }