$color-black: #000;
$color-white: #fff;

.navbar{
    margin-bottom: 0px !important;
}
.portada-cont{
    max-height: 400px;
    object-fit: contain;
}
.portada{
    width: 100%;

}
.section{
    text-align: center;
    padding: 10px 20px;
}
.store-cont{
    display: grid;
    grid-template-columns: 50% 50%;
}
.form{
    display: flex;
    display: flex;
    flex-direction: column;
}
.footer{
    height: 80px;
    color: $color-white;
    background-color: $color-black;
    display: flex;
    align-items: center;
    justify-content: center;
}